<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment >
      <ion-segment-button >
        PENGADUAN
      </ion-segment-button>
      <ion-segment-button>
        KONSELING
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="2">
      1
    </ion-col>
    <ion-col size="8">
      <ion-card>
        <ion-card-header>Jhony Indo</ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Umur 19Th</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Jakarta</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
    </ion-item>
  </ion-list>
</ion-content>
