<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-button (click)="navigateTo('home')">
        <ion-icon name="home" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pengaduan</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="navigateTo('create')">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-row justify-content-center *ngIf="complaints.length == 0 ">
      Anda belum membuat pengaduan.
    </ion-row>
  </ion-card-content>
  <ion-card *ngFor="let complaint of complaints">
    <!-- <ion-card-header>
      <ion-card-subtitle>
        <ion-item lines="none">
          <ion-note slot="start">
            <ion-badge color="primary">Status {{complaint.status == 0 ? "Pencarian Konsultan":"" }}</ion-badge>
          </ion-note>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header> -->
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-note><b>Keterangan : </b><br>{{complaint.subyek}}</ion-note><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-note>
            <b>Kategori : </b><br>
            {{complaint.category_id | categoryTrans}}
          </ion-note>
        </ion-col>
        <ion-col size="6">
          <ion-note><b>Status : </b><br><ion-badge color="warning">{{complaint.status == 0 ? "Pencarian Konsultan":"" }}</ion-badge></ion-note>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="primary" (click)="navigateTo('modify', complaint._id)">Ubah Data</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger">Batalkan</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-segment color="warning">
    <ion-segment-button (click)="navigateTo('user')">
      <ion-icon name="person"></ion-icon>
      <label style="font-size: 6px;">Profil</label>
    </ion-segment-button>
    <ion-segment-button (click)="navigateTo('complaint')" checked>
      <ion-icon name="list-box"></ion-icon>
      <label style="font-size: 6px;">Pengaduan</label>
    </ion-segment-button>
    <ion-segment-button (click)="navigateTo('schedule')" >
      <ion-icon name="calendar"></ion-icon>
      <label style="font-size: 6px;">Jadwal</label>
    </ion-segment-button>
    <!-- <ion-segment-button>
      <ion-icon name="time"></ion-icon>
      <label style="font-size: 6px;">Sejarah</label>
    </ion-segment-button> -->
    <ion-segment-button (click)="doLogout()">
      <ion-icon name="backspace"></ion-icon>
      <label style="font-size: 6px;">Keluar</label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
