<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pengaduan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row padding>
    <ion-item-divider>
      <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          Jony Mahmud
        </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-card-content>
    <ion-item>
      <ion-label>Usia</ion-label>
      <ion-input type="text" placeholder="Usia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Jenis Kelamin</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Jenis Kekerasan Seksual</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pekerjaan</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
  </ion-card-content>
  
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="primary">Tolak</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="primary">Setuju</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
