<!-- <ion-header>
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-rs-password">
  <h3 style="text-align: center; color: white">Buat Kata Sandi Baru</h3>

  <div class="centered">
      <ion-item>
        <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Masukan kata sandi baru"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Masukan ulang kata sandi"></ion-input>
      </ion-item>

      <ion-row justify-content-center padding>
        <a href="javascript:void(0)" style="color:white">Kembali ke halaman login</a>
      </ion-row>
    </div>

  <div class="footer-rs-password">
      <ion-row justify-content-center>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button mode="ios" expand="block" color="warning">KIRIM</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </div>
</ion-content>
