<!-- <ion-header>
  <ion-toolbar>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-ch-password">
    <h2 style="color: white; text-align: center">Lupa Kata Sandi</h2>
    <div class="centered">
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="Masukan alamat email terdaftar"></ion-input>
      </ion-item>
      <ion-row justify-content-center padding>
        <a href="javascript:void(0)" style="color:white">Kembali ke halaman login</a>
      </ion-row>
    </div>
    <div class="footer-ch-password">
      <ion-row justify-content-center>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button mode="ios" expand="block" color="warning">KIRIM</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </div>
</ion-content>
