<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start" >
        <ion-button (click)="navigateTo('home')">
          <ion-icon name="home" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Penjadwalan</ion-title>
      <!-- <ion-buttons slot="end" >
        <ion-button (click)="navigateTo('create')">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>

  <!-- <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="new"  checked>
        <ion-label>Buat Jadwal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="complaint">
        <ion-label>Pengaduan</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div *ngIf="conselings.length > 0">
    <ion-card *ngFor="let conseling of conselings">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-note><b>Keterangan : </b><br>{{conseling.subyek}}</ion-note><br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-note>
              <b>Kategori : </b><br>
              {{conseling.category}} 
            </ion-note>
          </ion-col>
          <ion-col size="6">
            <ion-note><b>Jadwal : </b><br>
              <ion-badge color="warning">{{conseling.date}}</ion-badge>
            </ion-note>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-avatar slot="start">
              <img src="{{conseling.profile_conselor.avatar}}">
          </ion-avatar>
          <ion-label>
            Konselor Anda <br>
            <b style="font-size: 8pt">{{conseling.profile_conselor.name}}</b>
          </ion-label>
        </ion-item>
  
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="primary" (click)="openModal('setSchedule',conseling)">Atur Jadwal</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="danger">Batalkan</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>


  <!-- <ion-row justify-content-start padding *ngIf="segmentSchedule == 'new'">
    Tanggal Konseling
  </ion-row>
  
  <div class="w3-container" *ngIf="segmentSchedule == 'new'">
      <ion-card>
        <ion-card-content>
          <ion-calendar (click)="checkSchedule()" [format]="'YYYY-MM-DD'" [(ngModel)]="formApply.applyDate">
          </ion-calendar>
        </ion-card-content>
      </ion-card>
  </div>


  <ion-row justify-content-start padding *ngIf="segmentSchedule == 'new'">
    Jam Konseling
  </ion-row>
  <ion-row justify-content-start *ngIf="segmentSchedule == 'new'">
    <ion-col size="3" *ngFor="let clock of clocks" (click)="setTime(clock)">
      <ion-card color="{{clock.avail ? 'primary' : 'danger'}}">
        <ion-card-content>
          <p style="font-size: 8pt">
            {{clock.clock}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card-content *ngIf="segmentSchedule == 'new'">

    <ion-button expand="block" color="primary" (click)="settingSchedule()"
    disabled="{{formApply.applyDate == '' || formApply.clock == ''}}">Atur</ion-button>
  </ion-card-content>
    

  <ion-row justify-content-start *ngIf="segmentSchedule == 'new'">
    <ion-item-divider>
      Keterangan
    </ion-item-divider>
  </ion-row>
  <ion-card-content *ngIf="segmentSchedule == 'new'">
    <ion-row>
      <ion-col>
        <ion-badge color="primary">Tersedia</ion-badge>
      </ion-col>
      <ion-col>
        <ion-badge color="danger">Tidak Tersedia</ion-badge>
      </ion-col>
    </ion-row>
      
  </ion-card-content>
  

  <ion-card-content *ngIf="segmentSchedule == 'complaint'">
    <ion-list>
      <ion-item *ngFor="let complaint of complaints">
        <ion-avatar slot="start">
            <img [src]="profile.avatar">
        </ion-avatar>
        <ion-label>
          {{complaint.subyek}} <br>
          <small style="font-size: 8pt">{{complaint.description}}</small>
        </ion-label>
        <ion-note slot="end">
          <ion-badge>{{complaint.status == 0 ? "Pending": "Diterima"}}</ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content> -->
  
</ion-content>

<!-- <ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button color="secondary" expand="block" >Beranda</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="warning" expand="block" (click)="generateComplaint()">Buat Pengaduan</ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->
