<ion-header>
  <ion-toolbar  color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('conselor')">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jadwal Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let day of weekly">
    <ion-card-content no-padding no-margin>
      <ion-row justify-content-center>
        <ion-col size="4">
          <div class="divider"></div>
        </ion-col>
        <ion-col size="4" >
          <p style="text-align: center">
              {{day.day}}
          </p>
        </ion-col>
        <ion-col size="4">
          <div class="divider"></div>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content no-padding no-margin>
      <ion-list>
        <ion-item *ngFor="let time of day.time">
          <ion-label>{{time.text}}</ion-label>
          <ion-checkbox slot="end" color="warning" [(ngModel)]="time.isSelected" (ionChange)="doChange()"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </div>

  <div style="padding: 10px" *ngIf="isChanged">
    <ion-button expand="block" color="warning" (click)="doSubmit()" >Simpan</ion-button>
  </div>

</ion-content>

<!-- <ion-footer>
  <ion-segment color="warning">
      <ion-segment-button  checked="false">
        <ion-icon src="../../assets/images/svg/chatbox.svg"></ion-icon>
        <label style="font-size: 6px;">Percakapan</label>
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('conselor')" checked="false">
        <ion-icon src="../../assets/images/svg/folder.svg"></ion-icon>
        <label style="font-size: 6px;">Pengaduan</label>
      </ion-segment-button >
      <ion-segment-button checked="true">
        <ion-icon src="../../assets/images/svg/calendar-active.svg"></ion-icon>
        <label style="font-size: 6px; color: yellow">Jadwal</label>
      </ion-segment-button>
      <ion-segment-button (click)="doLogout()">
        <ion-icon src="../../assets/images/svg/close.svg"></ion-icon>
        <label style="font-size: 6px;">Keluar</label>
      </ion-segment-button>
    </ion-segment>
</ion-footer> -->
