<ion-header >
  <ion-toolbar  color="secondary">
    <ion-title>
      Beranda
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('user')">
          <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-segment  (ionChange)="segmentChanged($event)">
      <ion-segment-button value="list"  checked>
        <ion-label>List Pengaduan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="onschedule">
        <ion-label>Konsultasi</ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="segmentToolbar == 'list'">
    <ion-list *ngIf="complaintsGroup.length > 0">
      <ion-item-group *ngFor="let dates of complaintsGroup">
        <ion-card-content>
          <ion-row justify-content-center>
            <ion-col size="4">
              <div class="divider"></div>
            </ion-col>
            <ion-col size="4" >
              <p style="text-align: center">
                  {{dates.date}}
              </p>
            </ion-col>
            <ion-col size="4">
              <div class="divider"></div>
            </ion-col>

          </ion-row>
        </ion-card-content>
        <ion-item *ngFor="let apply of dates.data" (click)="openModal('complain',apply)">
          <ion-avatar slot="start">
              <img  src="{{apply.profile.avatar}}">
          </ion-avatar>
          <ion-label>
              {{apply.subyek}} <br>
              <small style="font-size: 8pt">{{apply.description}}</small>
          </ion-label>
          <ion-note slot="end">{{apply.created_on.split('T')[1].split(':')[0]}}: {{apply.created_on.split('T')[1].split(':')[1]}}</ion-note>
        </ion-item>
      </ion-item-group>
      <!-- <ion-item *ngFor="let dates of complaintsGroup">
        <ion-avatar slot="start" *ngIf="apply.status == 0">
          <img *ngIf="apply.profile.avatar" src="{{apply.profile.avatar}}">
        </ion-avatar>
        <ion-card-header *ngIf="apply.status == 0">
          <ion-card-subtitle>
            <ion-note>{{apply.title}}</ion-note>            
          </ion-card-subtitle>
          <ion-card-subtitle>{{apply.profile.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-buttons slot="end" *ngIf="apply.status == 0">
          <ion-button color="secondary" (click)="openModal('complain',apply)">Detail</ion-button>
        </ion-buttons>
      </ion-item> -->
    </ion-list>
  </div>

  <div *ngIf="segmentToolbar == 'onschedule'">
    <ion-list>
      <ion-item *ngFor="let conseling of conselingData">
        <ion-avatar slot="start">
          <img [src]="conseling.profile.avatar">
        </ion-avatar>
        <ion-card-header>
            <ion-card-subtitle>{{conseling.title}}</ion-card-subtitle>
            <ion-card-subtitle>
              <ion-note>{{conseling.profile.name}}</ion-note>            
            </ion-card-subtitle>
        </ion-card-header>
        <ion-buttons slot="end">
          <ion-button color="secondary" (click)="openModal('conseling', conseling)">Detail</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <!-- <ion-segment>
    <ion-segment-button (click)="navigateTo('user')">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button (click)="navigateTo('scheduler')">
      <ion-icon name="time"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="logout" (click)="doLogout()">
      <ion-icon name="backspace"></ion-icon>
    </ion-segment-button>
  </ion-segment> -->
  <ion-segment color="warning" value="home">
      <ion-segment-button value="chat" (click)="navigateTo('roomList')">
        <ion-icon src="../../assets/images/svg/chatbox.svg"></ion-icon>
        <label style="font-size: 6px;">Percakapan</label>
      </ion-segment-button>
      <ion-segment-button value="home">
        <ion-icon src="../../assets/images/svg/folder-active.svg"></ion-icon>
        <label style="font-size: 6px; color: yellow">Pengaduan</label>
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('scheduler')" value="sc">
        <ion-icon src="../../assets/images/svg/calendar.svg"></ion-icon>
        <label style="font-size: 6px;">Jadwal</label>
      </ion-segment-button>
      <!-- <ion-segment-button>
        <ion-icon name="time"></ion-icon>
        <label style="font-size: 6px;">Sejarah</label>
      </ion-segment-button> -->
      <ion-segment-button (click)="doLogout()">
        <ion-icon src="../../assets/images/svg/close.svg"></ion-icon>
        <label style="font-size: 6px;">Keluar</label>
      </ion-segment-button>
    </ion-segment>
</ion-footer>
