<!-- <ion-header>
  <ion-toolbar  color="primary">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="signin"  checked>
        <ion-label>Masuk</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signup">
        <ion-label>Daftar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-logins">
  <div >
    <!-- <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- <h4 class="title-login"><strong> MASUK</strong></h4> -->
    <!-- <ion-toolbar>
    </ion-toolbar> -->
    <ion-row justify-content-center padding>
      <img [src]="logo" alt="LOGO" width="350">
    </ion-row>
  </div>

  <div class="warp-input-logins" >
    <div>
        <ion-item>
          <ion-label ><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text" placeholder="Nama Pengguna atau Email"  [(ngModel)]="formLogin.username" *ngIf="!loading"></ion-input>
          <ion-input type="text"  [(ngModel)]="formLogin.username" *ngIf="loading" disabled></ion-input>
        </ion-item>
      </div>
    <div style="margin-top: 10px;">
        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input type="password" placeholder="Kata Sandi" [(ngModel)]="formLogin.password" *ngIf="!loading"></ion-input>
          <ion-input type="password" [(ngModel)]="formLogin.password" *ngIf="loading" disabled></ion-input>
        </ion-item>
    </div>

    <div style="margin-top: 5px; text-align: right">
      <a href="javascript:void(0)" (click)="navigateTo('forget')"><small style="color:white">Lupa kata sandi?</small></a>
      <div style="margin-top: 25px;">
        <ion-button expand="block" color="warning" (click)="doSubmit('signin')" 
        disabled="{{formLogin.password == '' || formLogin.username == ''}}">
          Masuk
          <ion-spinner name="crescent" style="margin-left: 10px;" *ngIf="loading"></ion-spinner>
        </ion-button>
      </div>

      <ion-row justify-content-center>
        <small style="color: white">Belum punya akun? <a href="javascript:void(0)" style="color: white" (click)="navigateTo('signup')">Buat Akun Baru</a></small>
      </ion-row>
    </div>
  </div>
  <!-- 
  <div class="regist-content" *ngIf="segmentToolbar == 'signup'">
    <ion-card>
      <ion-item lines="none">
        <ion-label>Daftar Sebagai Konselor</ion-label>
        <ion-toggle [(ngModel)]="isConselor" ></ion-toggle>
      </ion-item>
      <ion-card-content>
        <ion-note>Anda Mendaftar sebagai Konselor</ion-note>
      </ion-card-content>
    </ion-card>

    <ion-row justify-content-center>
      <div class="avatar-element">
        <img [src]="avatarMen" >
        <ion-button slot="icon-only" fill="clear" class="btn-camera" (click)="doInputFile()"><ion-icon name="reverse-camera"></ion-icon></ion-button>
      </div>
    </ion-row>
    <ion-card-content>
      <ion-item hidden>
        <input id="input-avatar" type="file"  (change)="changeListener($event)">
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="formRegist.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nama Lengkap</ion-label>
        <ion-input type="text" [(ngModel)]="formRegist.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >Tanggal Lahir</ion-label>
        <ion-datetime [(ngModel)]="formRegist.birth" display-format="MM-DD-YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">No. Hp</ion-label>
        <ion-input type="number" [(ngModel)]="formRegist.hp" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alamat</ion-label>
        <ion-textarea type="text" [(ngModel)]="formRegist.address"></ion-textarea>
      </ion-item>
      <ion-list>
        <ion-radio-group  [(ngModel)]="formRegist.gender" >
          <ion-list-header>
            Jenis Kelamin
          </ion-list-header>
          <ion-item>
            <ion-label>Pria</ion-label>
            <ion-radio value="men"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Wanita</ion-label>
            <ion-radio value="women"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="formRegist.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ConfirmPassword</ion-label>
        <ion-input type="password" [(ngModel)]="formRegist.confirmPassword"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="doCheck('signup')" 
      disabled="{{formRegist.email == '' || formRegist.name == '' 
      || formRegist.hp == '' || formRegist.address == '' || formRegist.password == ''
      || formRegist.password != formRegist.confirmPassword}}">Daftar</ion-button>
    </ion-card-content>
  </div> -->
</ion-content>
