
<ion-content>
  <ion-toolbar color="primary" >
    <ion-title>Beranda</ion-title> 
    <ion-buttons slot="end">
      <!-- <ion-button><ion-icon name="notifications"></ion-icon></ion-button> -->
      <!-- <ion-button><ion-icon name="cog"></ion-icon></ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
  <!-- <ion-row justify-content-end padding><ion-searchbar animated debounce="500"></ion-searchbar></ion-row> -->
  <ion-row justify-content-end padding>
    Jadwal Konseling terbaru
  </ion-row>
  <ion-card *ngFor="let conseling of conselingApp">
    <img src="../../assets/images/Mockup/user/ava1.jpg">
    <ion-card-header>
      <ion-card-subtitle>{{conseling.title}}</ion-card-subtitle>
      <ion-card-title>{{conseling.date}} <ion-badge color="{{conseling.color}}">{{conseling.statusTxt}}</ion-badge> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{conseling.description}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="conselingApp.length == 0">
    <ion-card-content>
      Saat ini anda tidak memiliki jadwal konsultasi
    </ion-card-content>
  </ion-card>

  
</ion-content>
<ion-footer>
  <ion-segment >
    <ion-segment-button (click)="navigateTo('user')">
      <ion-icon name="person"></ion-icon>
      <label style="font-size: 6px;">Profil</label>
    </ion-segment-button>
    <ion-segment-button (click)="navigateTo('schedule')">
      <ion-icon name="calendar"></ion-icon>
      <label style="font-size: 6px;">Jadwal</label>
    </ion-segment-button>
    <!-- <ion-segment-button>
      <ion-icon name="contact"></ion-icon>
      <label style="font-size: 6px;">Kontak</label>
    </ion-segment-button> -->
    <ion-segment-button (click)="doLogout()">
      <ion-icon name="backspace"></ion-icon>
      <label style="font-size: 6px;">Keluar</label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
