<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start" >
        <ion-button (click)="navigateTo('home')">
          <ion-icon name="home" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Jadwal Saya</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row justify-content-start padding *ngIf="segmentSchedule == 'new'">
    Tanggal Konseling
  </ion-row>
  
  <div class="w3-container" *ngIf="segmentSchedule == 'new'">
      <ion-card>
        <ion-card-content>
          <ion-calendar (click)="checkSchedule()" [format]="'YYYY-MM-DD'" [(ngModel)]="formApply.applyDate">
          </ion-calendar>
        </ion-card-content>
      </ion-card>
  </div>


  <ion-row justify-content-start padding *ngIf="segmentSchedule == 'new'">
    Jam Konseling
  </ion-row>
  <ion-row justify-content-start *ngIf="segmentSchedule == 'new'">
    <ion-col size="3" *ngFor="let clock of clocks" (click)="setTime(clock)">
      <ion-card color="{{clock.avail ? 'primary' : 'danger'}}">
        <ion-card-content>
          <p style="font-size: 8pt">
            {{clock.clock}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card-content *ngIf="segmentSchedule == 'new'">

    <ion-button expand="block" color="primary" (click)="settingSchedule()"
    disabled="{{formApply.applyDate == '' || formApply.clock == ''}}">Atur</ion-button>
  </ion-card-content>
    

  <ion-row justify-content-start *ngIf="segmentSchedule == 'new'">
    <ion-item-divider>
      Keterangan
    </ion-item-divider>
  </ion-row>
  <ion-card-content *ngIf="segmentSchedule == 'new'">
    <ion-row>
      <ion-col>
        <ion-badge color="primary">Tersedia</ion-badge>
      </ion-col>
      <ion-col>
        <ion-badge color="danger">Tidak Tersedia</ion-badge>
      </ion-col>
    </ion-row>
      
  </ion-card-content>
</ion-content>
