.header-slide{
    position: relative;
    // padding: 5%;
    margin-top: 30px;
    // margin-top: 40%;
    // margin-left: 30%;
    // margin-bottom: 30%;
    
}
.slide-boarding {
    // margin-top: 15%;
    // margin-bottom: 10%;
    font-size: 12pt;
}
.text-slide{
    position: relative;
    margin-left: 8%;
    margin-top: 7%;
}

.bg-boarding {
    // position: relative;
    --background: url('../../assets/images/bg_app.png') 0 0/100% 100% no-repeat;
    
}
.footer-boarding {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 .container- {
    position: relative;
  }
  
  .center- {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  
//   img { 
//     width: 100%;
//     height: auto;
//   }