<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Get Starter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-slide">
    <img [src]="logo" alt="LOGO">
  </div>
  <ion-slides pager="true">
    <ion-slide>
      <div style="padding: 15px;">
        <p>Kemudahan dalam melakukan konseling ataupun pengaduan terhadap kekerasan seksual</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="padding: 15px;">
        <p>Keamanan privasi terjaga</p>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-card-content>
        <div style="padding: 0; width: 100%;">
          <p>Terhubung dengan konselor terpercaya dan ahli dalam bidang ini</p>
          <ion-button expand="block" fill="clear" (click)="navigateTo('Home')">Next</ion-button>
        </div><br>
      </ion-card-content>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="clear" (click)="navigateTo('Home')">LEWATI</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
