<!-- <ion-header>
  <ion-toolbar>
    <ion-title color="primary">Get Starter</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-boarding">
  <div style="color: white">
    
    <div class="footer-boarding">
      <ion-slides pager="true">
        <ion-slide>
          <!-- <div class="header-slide">
            
          </div> -->
          <div >
            <ion-row justify-content-center>
              <div >
                
                <img [src]="logo" alt="LOGO" style="width: 30%;">
                <ion-card-content>
                  <p style="font-family: primaryBold; ">Aplikasi Pengaduan dan Konseling Online MCR PKBI Bandung</p>
                </ion-card-content>
              </div>
            </ion-row>
          </div>
        </ion-slide>
        <ion-slide>
            <div>
              
              <ion-row justify-content-center>
                  <div >
                    <ion-card-content>
                      <b style="font-family: primaryBold">DIMANAPUN DAN KAPANPUN</b>
                    </ion-card-content>
                    <img [src]="img1" alt="LOGO" style="width: 40%;">
                    <ion-card-content>
                <p style="font-family: primaryBold;">Anda dapat melakukan pengaduan dan konseling dimanapun dan kapanpun</p>
              </ion-card-content>
                  </div>
              </ion-row>
              
            </div>
        </ion-slide>
        <ion-slide>
          <div style="padding: 15px;">
              <ion-card-content>
                <b style="font-family: primaryBold">ATUR WAKTU KONSELING ANDA</b>
              </ion-card-content>
            <ion-row justify-content-center>
              <div >
                <img [src]="img2" alt="LOGO" style="width: 40%;">
                <ion-card-content>
                  <p style="font-family: primaryBold; ">Atur jadwal konseling dengan mudah</p>
                </ion-card-content>
              </div>
            </ion-row>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="padding: 15px;">
            
            <ion-row justify-content-center>
              <div >
                <ion-card-content>
                  <b style="font-family: primaryBold">AMAN DAN RAHASIA</b>
                </ion-card-content>
                <img [src]="img3" alt="LOGO" style="width: 50%;     height: auto;">
                <ion-card-content>
                  <p style="font-family: primaryBold;">Berbicara sebanyak yang anda inginkan tanpa harus merasa malu dan takut</p>
                </ion-card-content>
              </div>
            </ion-row>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="footer-pull-left">
      <ion-row justify-content-start>
        <ion-button mode="ios"  fill="clear" color="light" (click)="navigateTo('Home')">LEWATI</ion-button>
      </ion-row>
    </div>
  </div>
  
</ion-content>

